/* Grid Stylesheet*/

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.grid {
	content: "";
	display: block;
	clear: both;
}

.col-1of1 {
	width: 100%;
}

.col-6of12 {
	width: 50%;
	margin-left: 25%;
}

.col-7of12 {
	width: 58.33%;
	margin-left: 20.83%;
}

.col-8of12 {
	width: 66.6%;
	margin-left: 16.6%;
}

.col-12of12 {
	width: 100%;
}

.col-2of8 {
	width: 25%;
}

.col-4of8 {
	width: 50%;
}

.col-6of8 {
	width: 75%;
}

.col-7of8 {
	width: 87.5%;
}

.col-1of6 {
	width: 16.6%
}

.col-2of6 {
	width: 33.3%
}

.col-3of6 {
	width: 50%
}

.col-4of6 {
	width: 66.6%
}

.col-5of6 {
	width: 83.3%;
}

@media (max-width: 70rem) {
	.col-4of8 {
		width: 100%;
	}
}